@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: 2px solid #3b82f6;
}

.slider::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: 2px solid #3b82f6;
}